.item1{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20%;
}
.TitleRe{
  position: fixed;
  left: 42%;
  top: 10%;
  transform: translate(100%, 0);
}
.BackRe{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 1500%);
  top: 100%;
}
