.item1{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20%;
}
.Title{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10%;
}
.Back{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20%;
}
