.item1{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20%;
}
.TitleRe{
  position: fixed;
  left: 50%;
  top: 10%;
}
.BackRe{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50%;
}
